footer
    div.flex.justify-evenly
        img.w-16.h-16(src='/img/universe.png' alt='logo')
        ul
            li: a(href='#') About us
            li: a(href='#') Contact
            
    p.text-gray-600.text-sm some copy right text