header.m-8.p-4
    div.flex.justify-evenly
        h1.text-4xl.m-4 Items title
        div
            a(href='#') All Items
            button
        div
            img(src='/img/universe.png' alt='logo')
    div.flex.justify-end
        button.btn Log in
        button.btn Sign up

    div
        nav.flex.justify-evenly 
            ul 
                li: a(href='#')
                    span Home
                li: a(href='#')
                    span About
                li: a(href='#')
                    span Contact