header.m-8.p-4
    div.flex.justify-start    
        img.w-16.h-16(src='/img/universe.png' alt='logo')
        h2.text-4xl.m-4 Items title
    div.flex.justify-end
        if user
            a.btn#logoutBtn Log out
            img.border-4(src=`/img/users/${user.photo}`, alt='user photo')
            h3.text-lime-300.font-bold= user.name
        else
            a.btn(href='/login') Log in
            a.btn(href='/signin') Sign in!

    div.m-4
        nav.flex.justify-start
            a.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer(href='#') All items
            a.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer(href='/') Home   
            a.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer(href='#') Contact          
            a.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer(href='#') About
                