extends base

block content 

    section.section-form.flex.flex-wrap

        if (user.role === 'admin')
            aside.flex.items-center
                .flex.m-4.flex-col
                    include _sidebar
                    +sidebar('sidebar', {name: 'Manage Items', href: '/manage-items'}, {name: 'Manage Users', href: '/manage-users'}, {name: 'Manage Reviews', href: '/manage-reviews'})
                
        .form-wrapper
            img#accountImage.w-20.aspect-auto.m-4.flex-none.rounded-full(src=`/img/users/${user.photo}`, alt='userphoto')
            h3
                | Your account
            form#updateForm.space-y-4.m-4
                div
                    label.form-label(for='name') Your name
                    input#name.form-input(type='text', name='name', value=`${user.name}`)                        
                div
                    label.form-label(for='email') Your email
                    input#email.form-input(type='email', name='email', value=`${user.email}`)
                div 
                    img#currentImage.w-32.aspect-auto.flex-none.rounded-full(src=`/img/users/${user.photo}`, alt='userphoto')
                    label.form-label(for='photo') Change your photo
                    input#photo.form-input(type='file', name='photo')
                div 
                    button.btn-log(type='submit') Update
                div   
                    //-span.m-1.p-2.bg-white.text-xs.text-gray-800.border-2.border-grey-700.rounded(class="hover:bg-slate-500 hover:text-white md:text-base md:m-4")
                    span Change your
                    a.btn-log(href='/update-password') password
        