extends base

block content
    section.flex.flex-wrap.section-form
        div.form-wrapper
            h2.form-title Acctivate account
            form#acctivationForm.p-2
                div
                    label.form-label(for='Please enter acctivation code') Name
                    input#acctivationCode.form-input(type='text', placeholder='••••', required)
                div
                    button#acctivateBtn.btn-log(type="submit") Acctivate
        div 
            span We have sent yuo verification code via email. Please enter the code and press "Acctivate" button 
