header
    .flex.gap-1.w-full.py-4.items-center(style='background-image: linear-gradient(#FFA259, white);')
        h1.font-comfortaa.text-red-700 Open
        img.my-4(src='/img/icons/oldmoviesuniverse_jnK_10.ico' alt='logo')
        h1.font-comfortaa.text-sky-500 Shop

    .flex.justify-between.mx-4.mb-4
        .flex.items-center
            span.nav-btn
                a(href='#') All items
            span.nav-btn
                a(href='/') Home   
            span.nav-btn
                a(href='#') Contact          
            span.nav-btn
                a(href='#') About
        .flex.items-center
            if user
                a#logoutBtn.btn(href="/") Log out
                a(href='/account')
                    img.w-16.h-16.border-4.rounded-full(src=`/img/users/${user.photo}`, alt='user photo')
                span.text-sky-500.font-comfortaa= user.name
            else
                a.btn(href='/login') Log in
                a.btn(href='/signin') Sign in!