extends base

block content
    section.section-form
        div.form-wrapper
            h2.form-title Sign in!
            form#signinForm.p-2(enctype='multipart/form-data')
                div
                    label.form-label(for='name') Name
                    input#signinName.form-input(type='text', placeholder='Your Name', required)
                div
                    label.form-label(for='email') Email address
                    input#signinEmail.form-input(type='email', placeholder='you@example.com', required)
                div
                    label.form-label(for='password') Password
                    input#signinPassword.form-input(type='password', placeholder='••••••••', required, minlength='8')
                div
                    label.form-label(for='passwordConfirm') Confirm password
                    input#signinPasswordConfirm.form-input(type='password', placeholder='••••••••', required, minlength='8')
                div 
                    img#currentImage.w-32.h-32.flex-none.rounded-full(src=`/img/users/default.jpg`, alt='userphoto')
                    label.form-label(for='photo') Change your photo
                    input#photo.form-input(type='file', name='photo')
                div
                    button#signinBtn.btn-log(type='submit') Sign in!