extends base

block content
    section.section-form
        div.form-wrapper
            h2.form-title Change your password
            form#passwordForm.p-2
                div
                    label.form-label(for='password') Your current password
                    input#oldPassword.form-input(type='password', placeholder='••••••••', required, minlength='8')
                div
                    label.form-label(for='password') Your new password
                    input#newPassword.form-input(type='password', placeholder='••••••••', required, minlength='8')
                div
                    label.form-label(for='password') Please confirm your new password
                    input#newPasswordConfirm.form-input(type='password', placeholder='••••••••', required, minlength='8')                    
                div
                    button#changePassword.btn(type="submit") Change password